# Neon PostgreSQL — use your development branch URL
DATABASE_URL="postgresql://user:password@your-neon-host.neon.tech/dbname?sslmode=require"
AUTH_SECRET=""
AUTH_GITHUB_ID=""
AUTH_GITHUB_SECRET=""
RESEND_API_KEY=""
NEXT_PUBLIC_APP_URL="http://localhost:3000"
ENABLE_EMAIL_VERIFICATION="false"
UPSTASH_REDIS_REST_URL="https://kind-hen-79649.upstash.io"
UPSTASH_REDIS_REST_TOKEN=""
R2_ACCOUNT_ID=""
R2_ACCESS_KEY_ID=""
R2_SECRET_ACCESS_KEY=""
R2_BUCKET_NAME="devstash-files"
R2_PUBLIC_URL="https://pub-xxxx.r2.dev"
